#mobile-outline {
   outline: 20px solid #333;
   max-width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
} 

.hidden {
   display: none;
}

body {
   font-family: "Ubuntu", Arial, Helvetica, sans-serif;
   font-weight: 400;
   font-style: normal;
   background-color: rgb(207, 143, 64);
}

.bold {
   font-family: "Ubuntu", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 600;
}

h1 {
  font-family: "Oi", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.box {
   display: block;
   text-align: left;
   margin-top: 10px;
   margin-bottom: 10px;
}

.box1 {
   display: block;
   align-content: center;
   margin-top: 10px;
   margin-bottom: 10px;
}

p {
   line-height: 22px;
   margin-bottom: 20px;
}

p::first-letter {
   float: left;
   background-color: rgb(255, 217, 0);
   color: #b96146;
   font-size: 26px;
   padding: 14px 6px;
   margin-right: 8px;
   margin-bottom: 10px;
   border-radius: 5px;
   box-shadow: 5px 5px 0 rgb(255, 189, 68);
}